Source: nethydra-wallpaper
Section: unknown
Priority: optional
Maintainer: Joe <joe@rstrike.my.id>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1
Homepage: https://gitlab.com/nethydra/packages/nethydra-wallpapers
Rules-Requires-Root: no
Vcs-Git: https://gitlab.com/nethydra/packages/nethydra-wallpapers.git
Vcs-Browser: https://gitlab.com/nethydra/packages/nethydra-wallpapers

Package: hydrapwk-wallpapers
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Official HydraPWK wallpaper collections

Package: blacktrack-wallpapers
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Official BlackTrack wallpaper collections 

Package: nethydra-wallpapers
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Official NetHydra wallpaper collections
